<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .navbar{
            display: flex;
            background-color: aquamarine;
            margin: auto;
            justify-content: center;
        }
        .navbar a {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="main-content">
        <div class="navbar">
            <a href="Home">Home</a>
            <a href="about">about</a>
            <a href="Products">Products </a>
            <a href="Contact">Contact</a>
        </div>
        <div class="page-content">
            <h3>{{%CONTENT%}}</h3>
        </div>
    </div>
</body>
</html>