<div class="page-content">
    <div class="product-page">
        <div class="product-desc">
            <div class="product-desc-image">
                <img src="{{%IMAGE%}}" alt="" srcset="" width="280" height="320">
            </div>
            <div class="product-details-info">
                <h1>{{%NAME%}}</h1>
                <h2 style="color:green">{{%AGE%}}</h2>
                <div class="product-desc-details">
                    <h3>Product Details </h3>
                    <p class="productd-desc-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eveniet libero omnis et suscipit deleniti veritatis expedita nesciunt consequatur dolorem!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit tempora officiis reiciendis ut tenetur, possimus repellat sed ullam voluptates soluta exercitationem perspiciatis asperiores assumenda totam rem labore natus mollitia. Reiciendis facilis modi dicta, libero tempora saepe veniam velit sed nemo, ipsa suscipit deserunt? Veritatis, cumque.
                    </p>
                </div>
                <div class="products-details-desc">
                    <h3>{{%SECRET%}} </h3>
                    <p class="product-desc-p">
                        {{%POWERS%}}
                    </p>
                </div>
            </div>
        </div>
        <a href="/products" class="btn-black">Back</a>
    </div>
</div>