
    <div class="products-list">
        <div class="products-detail">
            <img src={{%IMAGE%}} alt="" srcset="" height="120" width="120">
        </div>
        <div class="products-specs">
            <h3>MEN </h3>
            <p><span>Modal name :</span>{{%NAME%}}</p>
            <p><span>Modal number: </span>{{%AGE%}}</p>
            <p><span>secretIdentity:</span> </p>{{%SECRET%}}
            <p><span>powers:</span>{{%POWERS%}}</p>
        </div>
    </div>
    <div class="product-detail">
        <div class="products-info">
            <button class="btn btn-primary">Buy Now</button>
            <a href="/products?id={{%ID%}}" class="btn btn-secondary">Show details</a>

        </div>
    </div>
